
/* ==================== CSS RESET ==================== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

@font-face {
    font-family: 'BrightLinger';
    src: url('../fonts/BrightLinger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OldeTome';
    src: url('../fonts/OldeTome.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BrightLinger', sans-serif;
    font-size: 3rem;
}

h1 {
    font-family: 'OldeTome', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    color: white;
}

/* ==================== BASE ELEMENTS ==================== */
.background {
    background-image: url("../images/stormyskybg.png");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    padding-top: 30px;
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: top center;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-height: 100vh;
    align-items: center;
}

.game-frame {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-top-color: #E1B017;
    border-left-color: #E1B017;
    border-bottom-color: #704102;
    border-right-color: #704102;
}

.game-frame-b {
    border: 4px solid;
    border-top-color: #704102;
    border-left-color: #704102;
    border-bottom-color: #B99010;
    border-right-color: #B99010;
}

.viewbox {
    background-color: #5F9EA0;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
}

/* ==================== MAIN MENU ==================== */
.logo {
    border: none;
    background: none;
    align-items: center;
    padding-bottom: 20px;
}

    .logo h1 {
        font-family: BrightLinger;
        color: white;
        font-size: 4.5rem;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

.menu-bg {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.menu-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    z-index: 5;
}
    .menu-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menu-container button {
        width: 40%;
        padding: 15px;
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        color: #fff;
        cursor: pointer;
        background-color: #007f7f;
        border: 4px solid;
        border-top-color: #12BFBF;
        border-left-color: #12BFBF;
        border-bottom-color: #004a4a;
        border-right-color: #004a4a;
    }



/* ==================== HUD ==================== */
.hud {
    background-color: #64285d;
    padding: 10px;
    border: 4px solid;
    border-top-color: #823b7a;
    border-left-color: #823b7a;
    border-bottom-color: #40153b;
    border-right-color: #40153b;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hud-left,
.hud-center,
.hud-right {
    display: flex;
    align-items: center;
}

.hud-left {
    justify-content: flex-start;
}

.hud-center {
    justify-content: center;
    flex: 1;
}

.hud-right {
    justify-content: flex-end;
}

.healthbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    color: #fff;
    font-size: 2.5rem;
}

.inventory {
    display: flex;
    justify-content: center;
}

.item-boxes {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1 / 1;
    background-color: #660033;
    border: 5px solid;
    border-top-color: #330000;
    border-left-color: #330000;
    border-bottom-color: #800040;
    border-right-color: #800040;
}

.item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    aspect-ratio: 1 / 1;
    background-color: #660033;
    border: 5px solid;
    border-top-color: #330000;
    border-left-color: #330000;
    border-bottom-color: #800040;
    border-right-color: #800040;
}

    .item-boxes:hover {
        background: radial-gradient(circle 25px, #d93285, #660033);
    }

    .item-boxes img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
    }

/* ==================== VIEWBOX LAYERING ==================== */
.background-img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-layer { z-index: 1; }
.monster-layer { z-index: 2; }
.player-layer { z-index: 3; }
.ui-layer { z-index: 4; }

.item-layer, .monster-layer, .player-layer, .ui-layer { position: absolute; inset: 0; }

/* ==================== PLAYER ==================== */
.left-hand {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10vw;
    height: auto;
}

.right-hand {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vw;
    height: auto;
}

/* ==================== ROOM ITEM ==================== */
.item-layer img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 8vw;
    height: auto;
}

/* ==================== MONSTER ==================== */
.monster {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 12vw;
    height: auto;
}


/* ==================== TEXT ==================== */
.text-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #cfb696;
    border: 4px solid;
    border-top-color: #9c7b4f;
    border-left-color: #806541;
    border-bottom-color: #4d3b23;
    border-right-color: #4d3b23;
    padding: 12px;
    font-family: 'BrightLinger';
    cursor: pointer;
    max-width: 60%;
}

.hidden {
    display: none;
}

.text-content {
    font-size: 1.7vw;
    color: #440E03;
}

/* ==================== BUTTONS ==================== */
.action-button {
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

summary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    list-style: none;
}


    summary img {
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        object-position: center;
    }

.content {
    position: absolute;
    background: #cfb696;
    border: 4px solid;
    border-top-color: #9c7b4f;
    border-left-color: #806541;
    border-bottom-color: #4d3b23;
    border-right-color: #4d3b23;
    padding: 4px;
    font-family: 'BrightLinger';
    cursor: pointer;
}

    .content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: white;
        width: max-content;
        font-size: 2rem;
        font-weight: lighter;
        letter-spacing: 1px; 
    }

        .content a:hover {
            background: #900000;
        }





html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
