@page "/"
@model ZuulRemake.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Main Menu";
}
<div class="background" style="padding-top: 30px;">
    <div class="game-container">
        <h1>World of Zuul</h1>
        <div class="game-frame">
            <div class="game-frame-b">
                <div class="viewbox">                    
                    <div class="menu-container">
                        <div class="logo">
                            <h1>Choose an Option...</h1>
                        </div>
                        <form method="post">
                            <button type="submit" asp-page-handler="NewGame">New Game</button>
                            <button type="submit" asp-page-handler="Continue">Continue</button>
                            <button type="submit" asp-page-handler="Quit">Quit</button>
                        </form>
                    </div>
                    <div class="menu-bg">
                        <img src="~/images/currentviewplaceholder2.png" />
                    </div>
                </div>
                <div class="hud"> <!--- LEAVE EMPTY ---> </div>
            </div>
        </div>
    </div>
</div>