@page
@model ZuulRemake.Web.Pages.MainMenuModel
@{ ViewData["Title"] = "Main Menu"; }

<div class="background">
    <div class="game-container">
        <div class="viewbox">

            <!--- TITLE SCREEN BACKGROUND --->
            <img src="~/images/currentviewplaceholder.png" />

            <div class="title-layer">
                <!--- TITLE LOGO --->
                <img src="" />
            </div>

            <div class="menu-options">
                <!--- MENU OPTIONS --->
            </div>

        </div>

        <div class="hud"> <!--- LEAVE EMPTY ---> </div>
    </div>
</div>