################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZuulRemake/.vs/ZuulRemake
/ZuulRemake/ZuulRemake/obj/Debug
/ZuulRemake/ZuulRemake.Tests/obj/Debug
/ZuulRemake/.vs/ProjectEvaluation/zuulremake.metadata.v9.bin
/ZuulRemake/.vs/ProjectEvaluation/zuulremake.projects.v9.bin
/ZuulRemake/.vs/ProjectEvaluation/zuulremake.strings.v9.bin
