################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZuulRemake/.vs/ZuulRemake
/ZuulRemake/ZuulRemake/obj/Debug
/ZuulRemake/ZuulRemake.Tests/obj/Debug